/************************************
GENERAL
*************************************/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #818689;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #818689;
}

img {
  max-width: 100%;
}

p {
  font-weight: 300;
  line-height: 1.5;
}

section h2 {
  font-size: 1em;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-header,
#bottom {
  background-color: #eff1f7;
}

.main-nav a:hover {
  background-color: #d4d8db;
}

#portfolio p {
  padding: 0 .75em;
}

#portfolio li {
  padding-bottom: 20px;
}

#gallery a:visited {
  color: #818689;
}

.bumper {
  font-weight: 700;
}

/* ================================= 
Layout Styles
==================================== */

.container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.main-header {
  text-align: center;
}

.main-header p {
  padding-top: 5px;
  padding-bottom: 20px;
}

.name,
.main-nav {
  text-align: center;
}

.name {
  margin-top: 0;
  padding: 20px 0 5px 0;
}

.main-nav {
  padding: 0;
}

.main-nav a {
  display: block;
  background-color: #fff;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.author {
  width: 70%;
  margin: 40px auto 25px;
  background-color: #d4d8db;
}

.avatar {
  max-width: 150px;
  border-radius: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#gallery {
  padding: 0;
}

#contact {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  border-top: 1px solid #b8bfc4;
}

.l-float {
  text-align: left;
  width: 50%;
  float: left;
}

.r-float {
  text-align: right;
  width: 50%;
  float: right;
}

.bottom-nav {
  display: none;
}

/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}


/************************************
Media Queries
*************************************/

@media (min-width: 768px) {

  .main-nav li {
    display: inline-block;
  }

  .main-nav a {
    background-color: #eff1f7;
  }

  .main-header p {
    font-size: 1.25em;
    padding-bottom: 75px;
    margin-bottom: 25px;
  }

  .author {
    width: 250px;
    float: right;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 25px;
  }

  #portfolio .container {

  }

  #portfolio {
    background-color: #fff;
  }

  #portfolio li {
    float: left;
    width: 45%;
    margin: 1%;
  }

  #portfolio h2 {
    padding-bottom: 10px;
  }

  #gallery {
    margin-top: 0;
  }

  #contact {
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
  }

  #contact p {
    font-size: 1.25em;
  }

  .r-float {
    display: none;
  }

  #bottom {
    padding-bottom: 50px;
    margin-bottom: 10px;
  }

  .bottom-nav {
    display: inline-block;
    float: right;
  }

  .bottom-nav li {
    display: inline-block;
    margin-left: 15px;
  }

  .bottom-nav a {
    padding: 5px;
    text-transform: uppercase;
  }

  .bottom-nav a:hover {
    background-color: #d4d8db;
  }

}

@media (min-width: 1024px) {

  .banner {
    max-width: 1024px;
    margin: 0 auto;
  }

  .main-header p {
    padding-bottom: 100px;
  }

  #portfolio li {
    width: 30%;
  }

  #contact {
    width: 55%;
  }

}

 




