/************************************
GENERAL
*************************************/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #818689;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #818689;
}

img {
  max-width: 100%;
}

p {
  font-weight: 300;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

#wrapper h2 {
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
}

.main-header,
#contact {
  background-color: #eff1f7;
  text-align: center;
}

.main-header p {
  line-height: 1.5;
}

.main-nav a:hover {
  background-color: #d4d8db;
}

.bumper {
  font-weight: 700;
}

footer {
  border-top: 1px solid #b8bfc4;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

/* ================================= 
Layout Styles
==================================== */

.main-header {
  padding-bottom: 25px;
}

.name {
  margin-top: 0;
  padding: 20px 0 5px 0;
}

.main-nav {
  padding: 0;
}

.main-nav li {
  margin: 0 10px;
}

.main-nav a {
  display: block;
  background-color: #fff;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.banner p {
  padding: 0 1em;
}

.author {
  width: 70%;
  margin: 40px auto 25px;
  background-color: #d4d8db;
}

.avatar {
  max-width: 125px;
  border-radius: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#wrapper {
  max-width: 90%;
  margin: 0 auto;
}

#gallery {
  margin: 0;
  padding: 0;
}

#gallery li {
  text-align: center;
}

#contact {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.l-float {
  text-align: left;
  width: 50%;
  float: left;
}

.r-float {
  text-align: right;
  width: 50%;
  float: right;
}

.bottom-nav {
  display: none;
}

/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}


/************************************
Media Queries
*************************************/

@media (min-width: 768px) {

  

  .main-nav li {
    display: inline-block;
  }

  .main-nav a {
    background-color: #eff1f7;
  }

  section.banner {
    padding: 0 2em;
  }

  .main-header p {
    font-size: 1.25em;
    padding-bottom: 50px;
    margin-bottom: 25px;
    text-align: left;
  }

  .author {
    width: 250px;
    float: right;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 25px;
  }

  #wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 2.5%;
  }

  #wrapper h2 {
  margin: 20px 0 10px 0;
  padding: 20px 0 10px 0;
}

  #gallery {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #gallery li {
    float: left;
    width: 45%;   /*2 column minus margins*/
    margin: 2.5%;
  }

  #gallery li h3 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
  }
  
  #gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 1em;
  }

  #contact p {
    font-size: 1.25em;
  }

  .container {
    max-width: 60%;
  }

  .r-float {
    display: none;
  }

  #bottom {
    padding-bottom: 50px;
    margin-bottom: 10px;
  }

  .bottom-nav {
    display: inline-block;
    float: right;
  }

  .bottom-nav li {
    display: inline-block;
    margin-left: 15px;
  }

  .bottom-nav a {
    padding: 5px;
    text-transform: uppercase;
  }

  .bottom-nav a:hover {
    background-color: #d4d8db;
  }

}

@media (min-width: 1024px) {

 header h1 {
    float: left;
    margin-left: 20px;
 }

 .main-nav {
    float: right;
    margin-right: 20px;
 }

  .banner {
    max-width: 1024px;
    margin: 0 auto;
  }

  .banner-content {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  #wrapper h2 {
  margin: 20px 0 5px 0;
  padding-top: 20px;
  padding-bottom: 0;
}

  #gallery li {
    width: 28.3333%; /* 3 column page minus margins */
  }

  .container {
    max-width: 35%;
  }

}